<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/Semantic-UI/semantic.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
  </head>
  <body>
    <div class="ui three item menu">
      <a class="item" href="/dashboard">Dashboard</a> <a class="item" href="/receipts/new">New Receipt</a>
      <a class="item" href="/receipts">Pending Receipts</a>
    </div>
  </body>
</html>
